body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

/* Page container */
.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding: 2rem;
    position: fixed;
    overflow: hidden;
}

/* Top-left logo */
.logo {
    position: absolute;
    top: 20px;
    left: 20px;
}

.logo img {
    width: 100%;
    height: auto;
}

/* Form box */
.form-box {
    background: white;
    padding: 2rem;
    width: 30%;
    /* smaller width for form */
    /* border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); */
    text-align: center;
    margin-top: 180px;
}

/* Inputs */
input {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
}

.emailid {
    font-size: 1.25rem;
    float: left;
}

.userhead {
    float: none;
}

/* Error message */
.error {
    color: red;
    margin-top: 10px;
}

.custom-thead th {
    background-color: #bfdbfe !important;
    /* color: #ffffff !important; */
    text-align: center;
}

.add {
    float: right;
    /* margin-left: 92%; */
    /* position: absolute;
    right: 8%;
    top: 23%; */
}

table {
    table-layout: fixed;
    width: 100%;
}

th,
td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: break-spaces;
    text-align: left;
}

.form-switch>.form-check-input:not(:checked) {
    background-color: red;
    border-color: red;
}

.form-switch>.form-check-input:checked {
    background-color: green;
    border-color: green;
}

.filter {
    position: absolute;
    right: 9%;
    top: 77px;
    gap: 6%;
    overflow: hidden;
    min-width: 80%;
    flex-wrap: wrap;
}

th{
    white-space: break-spaces;
}

.table td,
.table th {
  padding: 0.3rem 0.3rem !important;
}

.table td.date-row {
  text-align: right;
}

.theight{
    height: 60vh;
}

.table-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 60vh; /* adjust height as per your UI */
}

.pagination-footer {
    margin-top: 30px; /* Forces pagination to stick at bottom */
    padding: 10px 0;
    background: white;
    position: sticky;
    bottom: 0;
}
